@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

@-webkit-keyframes TestMove {
  from {
    top: 36px;
  }
  to {
    top: 0px;
  }
}

@keyframes TestMove {
  from {
    top: 36px;
  }
  to {
    top: 0px;
  }
}
.img{
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.video{
  display: flex;
  justify-content: center;
  height: 480px;
  overflow: hidden;
  margin-bottom: 30px;

}
video{
  width:960px;
  overflow: hidden;
  top:3px;
}

.video img{
width: 960px;
font-size: 300px;
position: absolute;
z-index: 33;
top:189px;
}

.button {
  width: 960px;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto;
  padding-top: 50px;
}

.button a {
  position: relative;
  border: 1px gray dotted;
  line-height: 38px;
  height: 38px;
  display: inline-block;
  width: 180px;
  text-decoration: none;
  color: black;
  overflow: hidden;
}

.button a::after {
  content: '';
  position: absolute;
  top: 36px;
  left: 0;
  width: 100%;
  height: 38px;
  background-color: #ae0014;
  z-index: -1;
}

.button a:hover {
  color: #fff;
}

.button a:hover::after {
  -webkit-animation: TestMove .3s forwards linear;
          animation: TestMove .3s forwards linear;
}

.content {
  margin: auto;
  width: 960px;
  height: 1000px;
  position: relative;
}

.content a {
  position: relative;
  top: -50px;
  left: 835px;
}

.content .subject {
  width: 354px;
  height: 387px;
  padding-bottom: 10px;
}

.content .title {
  background-color: #bb0404;
  color: white;
  width: 355px;
  height: 137px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .title p {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-size: 120px;
  margin: auto px;
  margin-left: -19px;
}

.content .title h3 {
  font-size: 50px;
  margin: auto;
  overflow: hidden;
  font-weight: 100;
}

.content .picture {
  position: absolute;
  top: 137px;
  left: 186px;
  z-index: -1;
}

.content .text {
  background-color: #000;
  color: white;
  width: 355px;
  height: 290px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
}

.content .text h3 {
  font-size: 25px;
  padding-bottom: 10px;
}

.content .text p {
  font-size: 22px;
  line-height: 1.5;
}

.content .explain {
  font-family: 微軟正黑體;
  padding: 0px 25px 20px 25px;
  top: 540px;
  width: 655px;
  background-color: #eeeeee;
  position: absolute;
}

.content .explain h3 {
  font-weight: bolder;
  color: #c32929;
  padding: 15px 5px;
  border-radius: 4px;
}

.content .explain h4 {
  font-family: "Times New Roman";
  background-color: #000;
  color: #eeeeee;
  display: inline-block;
  padding: 4px 5px;
  border-radius: 4px;
}

.content .explain p {
  font-weight: bolder;
  color: #616161;
  padding: 0px 5px;
  margin: 5px 0px;
  border-radius: 4px;
}

.content .explain span {
  color: #c32929;
  font-weight: bolder;
  font-size: 18px;
}

.content .space {
  width: 440px;
  height: 290px;
  background-color: #eee;
  position: absolute;
  right: 0px;
  top: 38px;
  z-index: -2;
}

.content:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content:nth-child(even) .title p {
  margin-right: -19px;
}

.content:nth-child(even) a {
  top: 380px;
  left: -545px;
  height: 35px;
}

.content:nth-child(even) .picture {
  left: 15px;
}

.content:nth-child(even) .space {
  width: 520px;
  height: 415px;
  top: 60px;
  right: 165px;
}
/*# sourceMappingURL=toyota.css.map */