@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-weight: 400;
  font-family: 微軟正黑體;
}

.content {
  margin-bottom: 30px;
}

.wrap {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0px 20px 80px;
}

.wrap .item .textArea {
  position: relative;
  margin-left: 47px;
}

.wrap .item .textArea .pic {
  position: absolute;
  top: -6px;
  left: -47px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  overflow: hidden;
}

.wrap .item .textArea .pic img {
  width: 100%;
  vertical-align: top;
}

.wrap .item .textArea h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1e1e1e;
}

.wrap .item .textArea h4 {
  font-weight: 700;
  color: #07b53b;
  margin-bottom: 12px;
  font-size: 14px;
}

.wrap .item .textArea p {
  color: #777;
  line-height: 1.7;
  margin-bottom: 28px;
}

.wrap .item .textArea .button {
  display: inline-block;
  width: auto;
  height: 46px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .item .textArea .button a {
  text-decoration: none;
  line-height: 46px;
  margin: 0;
  padding: 0 20px;
  color: #000;
  font-size: 13px;
  font-weight: bolder;
}

.wrap .item .picArea {
  margin-bottom: 30px;
}

.wrap .item .picArea img {
  width: 100%;
  vertical-align: top;
}

.wrap .item .picArea img:nth-child(2) {
  display: none;
}

.wrap .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.wrap .option ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap .option ul li {
  border: 1px black solid;
  border-radius: 4px;
  margin: 0 5px;
}

.wrap .option ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

.wrap .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .box .win {
  width: 100%;
  border-bottom: 1px gray solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.wrap .box .win img {
  margin: 20px;
}

.wrap .box .win .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .item:nth-of-type(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.wrap .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .content img {
  width: 100%;
}

.wrap .option ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap [class*="col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .col-1 {
  width: 8.333333%;
}

.wrap .col-2 {
  width: 16.666666%;
}

.wrap .col-3 {
  width: 25%;
}

.wrap .col-4 {
  width: 33.333333%;
}

.wrap .col-5 {
  width: 41.666666%;
}

.wrap .col-6 {
  width: 50%;
}

.wrap .col-7 {
  width: 58.333333%;
}

.wrap .col-9 {
  width: 75%;
}

.wrap .col-10 {
  width: 83.333333%;
}

.wrap .col-11 {
  width: 91.666666%;
}

.wrap .col-12 {
  width: 100%;
}

@media screen and (min-width: 878px) {
  .wrap .col-md-1 {
    width: 8.333333%;
  }
  .wrap .col-md-2 {
    width: 16.666666%;
  }
  .wrap .col-md-3 {
    width: 25%;
  }
  .wrap .col-md-3 .option ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .wrap .col-md-4 {
    width: 33.333333%;
  }
  .wrap .col-md-5 {
    width: 41.666666%;
  }
  .wrap .col-md-6 {
    width: 50%;
  }
  .wrap .col-md-6 .picArea {
    position: relative;
    top: 0px;
  }
  .wrap .col-md-6 .picArea img {
    display: none;
  }
  .wrap .col-md-6 .picArea img:nth-of-type(2) {
    display: block;
    position: absolute;
    width: 880px;
    height: 560px;
    top: 0px;
    left: -150px;
  }
  .wrap .col-md-6 .picArea.even img:nth-of-type(2) {
    width: 880px;
    height: 880px;
    top: 0px;
    left: -130px;
  }
  .wrap .col-md-6 .textArea.even {
    height: 880px;
    margin-left: 77px;
  }
  .wrap .col-md-6 .textArea {
    margin-right: 77px;
    height: 560px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .wrap .col-md-6 .textArea .pic {
    position: relative;
    top: -25px;
    left: 0;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-bottom: 35px;
  }
  .wrap .col-md-6 .textArea .pic h3 span {
    font-size: 40px;
  }
  .wrap .col-md-6 .textArea .pic h4 span {
    font-size: 18px;
  }
  .wrap .col-md-6 .textArea .pic p {
    font-size: 18px;
  }
  .wrap .col-md-7 {
    width: 58.333333%;
  }
  .wrap .col-md-8 {
    width: 66.666666%;
  }
  .wrap .col-md-9 {
    width: 75%;
  }
  .wrap .col-md-9 .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrap .col-md-9 .box .win {
    display: block;
    padding: 10px;
    margin: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 252px;
    -webkit-box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.15);
            box-shadow: 1px 10px 18px rgba(0, 0, 0, 0.15);
    border-bottom: none;
  }
  .wrap .col-md-9 .box .win img {
    margin-left: 0px;
  }
  .wrap .col-md-9 .box .win .content {
    display: block;
  }
  .wrap .col-md-10 {
    width: 83.333333%;
  }
  .wrap .col-md-11 {
    width: 91.666666%;
  }
  .wrap .col-md-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=LineRWD.css.map */